.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  margin: 20px;
}

.App-header {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #ccc;
}


/* Sidebar*/
.Sidebar-show-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.Sidebar-menu {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  border: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
}

.cat-list {
 padding-top: 10px;
 padding-bottom: 20px;
}

.cat-item {
  cursor: pointer;
  color: #676767;
  text-decoration: none;
}

.add-post-link {
  background-color: transparent;
  background-image: url('./../icons/plus.svg');
  background-repeat: no-repeat;
  background-position: center left;
  width: 25px;
  height: 25px;
  padding-right: 8px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
  color: #676767;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}


/* Show Posts */
.Show-posts {
}

.post {
  font-size: medium;
  display: flex;
  border-left: 1px solid #ccc;
}

.post-list {
  list-style-type: none;
  max-width: 500px;
}
.post-list-item {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ccc;
}

.post-details {
  padding-left: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.post-details p {
  margin: 3px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.post-author {
  font-style: oblique;
  font-size: small;
}

.post-tools {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  width: 25px;
  height: 25px;
}

.post-remove {
  background-color: transparent;
  background-image: url('./../icons/cancel.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  color: transparent;
  font-size: 5spx;;
  cursor: pointer;
  outline: none;
}

.post-edit {
  padding-left: 80px;
  background-color: transparent;
  background-image: url('./../icons/edit.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  color: transparent;
  font-size: 0px;
  cursor: pointer;
  outline: none;
}


/* Add Post */
.Add-post {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.add-form {
  padding: 20px;
  padding-bottom: 0px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.add-details {
  margin-left: 40px;
}

.add-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: medium;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.add-details input:invalid {
  border-bottom: 1px dashed #ccc;
}

.add-text-area {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: medium;
  font-family: sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.add-radio {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
}
.add-radio input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.add-radio label {
  float: left;
  display: inline-block;
  width: 123px;
  background-color: white;
  color: #676767;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  cursor: pointer;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.add-radio-checked {
  font-weight: bold;
}

.add-discussion {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  background-image: url('./../icons/plus.svg');
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 10px;
  padding-right: 8px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
  color: #676767;
  font-size: medium;
  text-decoration: none;
  border: none;
}
.add-discussion-grey {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  background-image: url('./../icons/plus-grey.svg');
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 10px;
  padding-right: 8px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
  color: #ccc;
  font-size: medium;
  text-decoration: none;
  border: none;
}

.close-add {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  background-image: url('./../icons/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 70px;
  padding-right: 8px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
  color: #676767;
  font-size: medium;
  text-decoration: none;
  border: none;
}
